<div class="proj-nav">
    @{
        if (ActiveProject?.Heroes != null)
        {
            var heroes = ActiveProject.Value.Heroes!;
            <section class="proj-nav__header">
                @if (heroes.Length == 1)
                {
                    <h3 class="proj-nav__head">Hero Page</h3>
                }
                else
                {
                    <h3 class="proj-nav__head">Hero Pages</h3>
                }
            </section>
            <ul class="proj-nav__tags">

                @foreach (var heroName in ActiveProject.Value.Heroes)
                {
                    <li class="tags__tag">
                        <HeroPageLinkItem HeroName="@(heroName)"/>
                    </li>
                }

            </ul>

            <hr/>
        }
    }
    
    <section class="proj-nav__header">
        <h3 class="proj-nav__head">Relevant Projects</h3>
    </section>
    <ul class="proj-nav__projects">

        @{
            var idx = 0;
            if (_relevantProjects is not null)
            {
                foreach (var pair in _relevantProjects)
                {
                    var model = pair.Value;
                    if (idx < _titles?.Length)
                    {
                        <li class="projects__proj active">
                            <a class="hover-scale sc075" href="@(model.LocalHref)">@(_titles?[idx])</a>
                        </li>
                    }

                    idx++;
                }
            }
        }

    </ul>

    <hr/>

    <section class="proj-nav__header">
        <h3 class="proj-nav__head">Tags</h3>
    </section>
    <ul class="proj-nav__tags">

        @if (ActiveProject is not null)
        {
            var extractedTags = ActiveProject!.Value.Tags.ExtractFlags();
            foreach (var tag in extractedTags)
            {
                <li class="tags__tag">
                    <TagItem Tag="tag"/>
                </li>
            }
        }

    </ul>
</div>