.to-top {
    --size: 3.2rem;
    
    position: fixed;
    outline: none;
    border: none;
    
    width: var(--size);
    height: var(--size);
    right: 1rem;
    bottom: 5rem;
    
    background: var(--footer-back);
    color: var(--footer-fore);
    border-radius: var(--border-radius-medium);
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    scale: 0;
    transition: scale 125ms ease 0s;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 20px;
    box-shadow: 2px 3px 2px 3px rgba(0, 0, 0, 0.35);
}

.to-top.shown {
    scale: 1;
}