@inject IJSRuntime JsRuntime

<button id="toTopBtn" class="to-top" @onclick="ToTop">
    <span>Top</span>
</button>

@code {

    private async Task ToTop()
    {
        await JsRuntime.InvokeVoidAsync("scrollToTop");
    }
}