@inject IJSRuntime JsRuntime

<button id="toTopBtn" class="to-top" @onclick="ToTop">
   <i style="font-size: 2rem;" class="bi bi-chevron-up"></i>
</button>

@code {

    private async Task ToTop()
    {
        await JsRuntime.InvokeVoidAsync("scrollToTop");
    }
}