.page-island {
    position: relative;
    width: 100%;
    background-color: var(--page-island-background);
    color: var(--page-island-foreground);
    display: flex;
    flex-flow: column;
    padding: 0.8rem;
    padding-top: 1.8rem;

    &.md img {
        max-width: 85%;
        border-radius: var(--border-radius-small);
        max-height: 350px;
        display: block;
        position: relative;
        transition: scale 150ms ease 0s;
        
        &:hover {
            scale: 1.075;
        }
    }
    &.md p > img {
        margin-top: 1rem;
    }
}

.page-island:nth-child(even) {
    background: var(--page-island-background-alt);
}

.page-island__inner {
    position: relative;
    width: 100%;
    max-width: var(--content-max-width-l);
    margin: 0 auto;
}


.page-island ~ .page-island.md > .page-island__inner > :not(h1, h2, h3, h4, h5, h6, .page-island__inner) {
    padding: 0 1.7rem;
}

.page-island ~ .page-island.md > .page-island__inner > hr {
    margin: 1rem 1.7rem;
}

.page-island:not(:nth-child(1))
{
    padding-top: 1.0rem;
    border-top: thin solid var(--accent-colour);
}

.page-island:nth-last-child(1 of .page-island) .page-island__inner::after {
    /*content: '';*/
    display: block;
    width: 100%;
    height: 1px;
    background-color: currentColor;
}