.main-content {
    position: relative;
    width: 100%;
    background-color: var(--background-deep);
    color: var(--foreground-deep);
}

.main-content .main-content__inner {
    position: relative;
    width: 100%;
}

.scroll-locked {
    overflow: hidden;
}

.contact-link {
    display: inline-flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
 
    text-decoration: none;
    color: currentColor !important;
}

.two-view__img-article {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    grid-gap: 0.5rem;
    
    &.sticky {
        position: sticky;
        top: 7rem;
    }
    
    & > img {
        border-radius: var(--border-radius-small);
    }
}