.enlarge-img-container {
    position: fixed;
    display: flex;
    z-index: 99;
    inset: 0;
    background-color: rgb(20 20 20 / 90%);
    opacity: 0;
    pointer-events: none;
    color: whitesmoke;
    transition: opacity 500ms ease 0s;

    &.open {
        pointer-events: all;
        opacity: 1;
    }
}

.img-container__inner {
    position: relative;
    width: 100%;
    height: 100%;
    max-width: var(--content-max-width-l);
    margin: auto;
    padding: 2rem;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.img-container__inner__image {
    position: relative;
    max-width: 85%;
    max-height: 85%;
    border-radius: var(--border-radius-medium);
}

.img-container__inner .img-container__inner__under-title {
    position: absolute;
    bottom: 1rem;
    padding: 2rem;
}

.img-container__inner .img-container__inner__close {
    position: absolute;
    top: 2.5rem;
    right: 2.5rem;
}

.btn {
    outline: none;
    border: none;
    box-shadow: none !important;
    background-color: var(--navbar-back);
    color: whitesmoke;
    width: 2rem;
    height: 2rem;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}