.tags-title {
    --font-size-l: 2.3rem;
    --font-size-m: 1.5rem;
}

.tags-title__inner {
    width: 100%;
    max-width: var(--content-max-width-m);
    margin: auto;
    padding: 1rem;
    
    
     & h2 {
         margin-top: 0.5rem;
         font-size: var(--font-size-l);
     }
}

.tags-container {
    --_border-radius: 50px;
    --_background-color: var(--navbar-back);
    --_color: var(--navbar-fore);
    
    display: flex;
    flex-wrap: wrap;
    user-select: none;
    
    position: relative;
}

.tags-container__tag {
    display: flex;
    justify-content: center;
    align-items: center;
    
    padding: 0.3rem 0.5rem;
    
    min-width: 40px;
    
    background-color: var(--_background-color);
    color: var(--_color);
    
    margin: 1px;
}

.tags-container__tag:first-child {
    border-radius: var(--_border-radius) 0 0 var(--_border-radius);
}

.tag__remove {
    outline: none;
    border: none;
    background-color: transparent;
    color: indianred;
    
    display: inline-flex;
    justify-content: center;
    align-items: center;
    
    margin-left: 0.5rem;
    font-size: 1.4rem;
    line-height: 1;
}

.tags-container__add {
    display: flex;
    justify-content: center;
    align-items: center;
    
    outline: none;
    border: none;
    margin: 1px;
    
    background-color: var(--navbar-back);
    color: var(--navbar-fore);

    padding: 0 0.5rem 0 0.4rem;
    font-size: 1.3rem;
    border-radius: 0 var(--_border-radius) var(--_border-radius) 0;
}

.tags-container__options {
    display: none;
    position: absolute;
    top: calc(100% + 10px);
    left: 10px;
    translate: 0 0;
    z-index: 1;
    
    border-radius: var(--border-radius-medium);
    overflow: hidden;
    box-shadow: 7px 4px 7px rgb(34 34 34 / 60%);
}

.tags-container__options.open {
    display: block;
}

.options__list {
    list-style: none;
    margin: 0;
    padding: 0.4rem 0.7rem;
    
    background: var(--navbar-back);
    max-height: 30dvh;
    overflow: auto;
}

.options__list__item {
    min-width: 130px;
    padding: 0.3rem 0;
    cursor: pointer;
}

.projects-container {
    --_font-size-title: 1.5rem;
    --_font-size-desc: 1rem;
    
    min-height: calc(100dvh - 30dvh - 100px);
}

.projects-container__inner {
    width: 100%;
    max-width: var(--content-max-width-m);
    margin: auto;
    padding: 1rem;
    
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    grid-gap: 0.4rem;
}

.project {
    --_radial-outside: rgb(34 34 34 / 80%);
    --_radial-inside: transparent;
    --_background-image: ;
    
    flex-basis: 300px;
    min-height: 225px;
    padding: 1rem;
    
    position: relative;
    
    color: whitesmoke;
    background-image: var(--_background-image);
    background-position: center center;
    background-size: cover;
    
    overflow: hidden;
    border-radius: var(--border-radius-medium);
}

.project__overlay {
    position: absolute;
    inset: 0;

    background-color: rgb(24 24 24 / 60%);
    background-image: radial-gradient(closest-corner, var(--_radial-inside), var(--_radial-outside));
}

.project__overlay ~ * {
    position: relative;
}

.project__inner {
    display: flex;
    flex-flow: column;
    height: 100%;
}

.project__inner__tags {
    margin-top: auto;
}