<section class="page-island @InverseClass" @attributes="@Attributes">
    <div class="page-island__inner">
        <h2 class="page-island__title">@IslandTitle</h2>
        <div class="page-island__child-content">
            @ChildContent
        </div>
    </div>
</section>

@code {
    //
    // [Parameter]
    // public string? Id { get; set; }
    
    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string, object>? Attributes { get; set; }

    [Parameter]
    public bool? Inverse { get; set; }

    [Parameter]
    public string? IslandTitle { get; set; }

    [Parameter]
    public RenderFragment? ChildContent { get; set; }


    protected string? InverseClass => Inverse == true ? "inverse" : null;
}