.state-indicator {
    --size: 2rem;
    --background-color: #212529;
    --transition-duration: 125ms;
    --hover-width: 9rem;
    
    position: fixed;
    left: 1rem;
    bottom: 1rem;
    width: var(--size);
    height: var(--size);
    background-color: var(--background-color);
    color: whitesmoke;
    border-radius: calc(var(--size)/2);
    overflow: hidden;
    user-select: none;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    transition: width var(--transition-duration) ease 0s,
    background-color var(--transition-duration) ease 0s;
    z-index: 98;
}

.state-indicator__inner {
    scale: 0;
    transition: scale var(--transition-duration) ease 0s;
}

.inner__status {
    margin: 0;
}

.state-indicator:hover {
    width: var(--hover-width);
}

.state-indicator:hover .state-indicator__inner {
    scale: 1;
}