@page "/"

@using Portfolio.Services
@using Portfolio.Client
@using Portfolio.Model
@using Portfolio.Shared.Components
@inject AppState AppState

<PageIsland IslandTitle="About Me" Id="about">
    <ChildContent>
        <p>Dit is de content van de About Me Island</p>
    </ChildContent>
</PageIsland>

<PageIsland IslandTitle="Projects" Id="projects">
    <ChildContent>
        <p>Dit is de content van de Projects Island</p>
    </ChildContent>
</PageIsland>

<PageIsland IslandTitle="Contact Me" Id="contact">
    <ChildContent>
        <p>Dit is de content van de Contact Me</p>
    </ChildContent>
</PageIsland>

@code {

    private readonly (string, string)[]? _links =
    {
        ("#about", "About Me"),
        ("#projects", "Projects"),
        ("#contact", "Contact Me"),
        (@".\cv.pdf", "CV"),
    };

    private readonly HeaderData _headerData = new()
    {
        ImagePath = StaticData.MainHeaderImgPath,
        Title = "Portfolio",
        UnderTitle = "Mitchel Vonk",
        ExtraStyles = "min-height: 600px;",
    };

    protected override void OnInitialized()
    {
        AppState.Links = _links;
        AppState.HeaderData = _headerData;
    }

}