@page "/"

@using Portfolio.Services
@using Portfolio.Client
@using Portfolio.Model
@inject AppState AppState
<h3>MainPage</h3>

@code {

    private readonly (string, string)[]? _links =
    {
        ("#about", "About Me"),
    };

    private readonly HeaderData _headerData = new()
    {
        ImagePath = StaticData.MainHeaderImgPath,
        Title = "Portfolio",
        UnderTitle = "Mitchel Vonk",
    };

    protected override void OnInitialized()
    {
        AppState.Links = _links;
        AppState.HeaderData = _headerData;
    }

}