@page "/proj1"
@using Portfolio.Services
@using Portfolio.Shared.Layouts
@using Portfolio.Model
@using Portfolio.Client
@layout ProjectLayout
@inject AppState AppState;
@inject NavigationManager NavigationManager


<h3>Proj1</h3>
<p>Test pagina voor projecten</p>

@code {

    private string RelativeUri => NavigationManager.Uri;

    private (string, string)[]? Links => new[]
    {
        ("#test", "Test"),
        ("#test2", "Test 2"),
    };

    private readonly HeaderData _headerData = new()
    {
        ImagePath = StaticData.MainHeaderImgPath,
        Title = "Project 1",
    };


    protected override void OnInitialized()
    {
        AppState.Links = Links;
        AppState.HeaderData = _headerData;
    }

}