@using Portfolio.Services
@using Portfolio.Shared.Components
@using Portfolio.Shared.Components.Navigation
@using Portfolio.Client

@inherits LayoutComponentBase

@implements IDisposable

@inject AppState AppState
@inject IJSRuntime JsRuntime

<div class="page">
    <TopHeader HeaderImg="@AppState.HeaderImgPath"
               Title="@AppState.HeaderTitle"
               UnderTitle="@AppState.HeaderUnderTitle"
               ScrollToId="main_content"
               ExtraText="Ik ben Mitchel Vonk, een enthousiaste, Leergierige C# developer die Studeert aan het Media College in Amsterdam"
               Style="@AppState.HeaderExtraStyles"/>

    <TopNav Links="AppState.Links"/>

    <main class="main-content" id="main_content">
        <div class="main-content__inner">
            @Body
        </div>
    </main>
    @if (AppState.ShowFooter)
    {
        <Footer>
            <MainSection>
                <h5 style="margin-bottom: 0">Mitchel Vonk©</h5>
            </MainSection>
        </Footer>
    }
    <ToTopBtn/>
</div>

@code {

    protected override void OnInitialized()
    {
        AppState.StateChanged += StateChanged;
        AppState.ShowFooter = true;
    }

    private async void StateChanged()
    {
        if (AppState.ScrollLocked)
        {
            await JsRuntime.InvokeVoidAsync("lockScroll", StaticData.LockedClassName);
        }
        else
        {
            await JsRuntime.InvokeVoidAsync("unlockScroll", StaticData.LockedClassName);
        }
        
        
        StateHasChanged();
    }


    public void Dispose()
    {
        AppState.StateChanged -= StateChanged;
    }

}