@inherits LayoutComponentBase

<div class="page">
    <header class="top-header">
        <h1>Projects</h1>
    </header>

    <main class="main-content" id="main-content">
        <div class="main-content__inner">
            @Body
        </div>
    </main>
    <Footer>
        <MainSection>
            <h5 style="margin-bottom: 0;">Mitchel Vonk ©</h5>
        </MainSection>
    </Footer>
</div>

@code {
    
}